html {
  height: 100%;
  box-sizing: border-box;
}
body{
  background-color:#eef5f9;
  position: relative;
}
 .main-wrapper{
  position: relative;
  /*min-height:730px;*/
}
.container{
  max-width:1440px;
}
.has-bg{
  background-color:#fff;
  padding:15px 15px;
  display: inline-block;
  width: 100%;
  box-shadow:1px 0px 10px 4px rgba(0, 0, 0, 0.08) !important;
  border-radius:4px;
  margin-bottom: 15px
}
h3{
  font-size:22px;
}
.has-box-shadow{
  /* box-shadow: 0px 0px 3px 1px #ededed;
  padding: 10px; */
  margin-bottom:0px;
}
.btn-info{
  color: #17a2b8;
  background-color:inherit;
  border-color: #17a2b8;
}
.button_holder .btn-primary {
  background-color: inherit !important;
  color: blue !important;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  padding: 0 !important;
  vertical-align: top;
  /* position: relative;
  top:-4px; */
}
.btn-primary{
  color: #007bff;
  background-color: inherit;
  border-color: #007bff;

}
.btn-warning {
  color: #ffc107;
  background-color:inherit;
  border-color: #ffc107;
}
.btn-danger {
  color: #dc3545 !important;
  background-color: inherit;
  border-color: #dc3545;
}
.btn.btn-outline-secondary{
  box-shadow:none !important;
}
li.logo-text{
  margin-top:7px;
}
li.logo-text img{
  width:150px;
}
.padding-right-o{
  padding-right:0;
}
.padding-left-o {
  padding-left: 0;
}
.padding-top-o {
  padding-top: 0;
}
.padding-bottom-o {
  padding-bottom: 0;
}
.auto-scroll{
    overflow:auto;
    height:170px;
}
.gj-icon{
  color: #28a745;
}
footer {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  display: block;
}
.top-navigation {
  background-color: #0066e9;
  padding:5px 0;
}
.logo-text a{
  display: inline-block;
  font-size:30px;
  color:#fff;
  line-height:22px;
  text-decoration: none;
}
span.fa.cursor {
  float: right;
  margin: 0px 0px -4px 5px;
}
.top-navigation ul li a i{
  color:#fff;
  font-size:13px;
}
.gj-datepicker-bootstrap [role=right-icon] button {
  border: 1px solid #f3f1f1;
}
.dropdown-toggle::after {
  display: none;
}
.navigation{
  padding:0;
  margin:0;
}
.sub-header{
  padding: 15px;
  background: #fff;
  -webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  margin-bottom:40px;
}
.navigation li{
  display: inline-block;
}
.navigation li:last-child{
  margin-right:0;
}
.sub-header ul li {
  margin-right: 15px;
}
.sub-header ul li a:hover{
  color:#1976d2;
}
.navigation li a{
  color: #607d8b;
  border-radius: 4px;
  font-size: 15px;
  text-decoration:none;
}
.navigation li.dropdown .profile-pic{
  border-radius:50%;
  width:30px;
}
.navigation ul.dropdown-user {
  padding: 0px;
  min-width: 270px;
}
.navigation ul.dropdown-user li .dw-user-box .u-img {
  width: 70px;
  display: inline-block;
  vertical-align: top;
}
.navigation ul.dropdown-user li .dw-user-box .u-text {
  display: inline-block;
  padding-left: 10px;
}
.navigation ul.dropdown-user li .dw-user-box .u-text h4 {
  margin: 0px;
  font-size: 15px;
}
.navigation ul.dropdown-user li .dw-user-box {
  padding: 10px 15px;
}
.navigation ul.dropdown-user li .dw-user-box .u-img img {
  width: 100%;
  border-radius: 5px;
}
.navigation ul.dropdown-user li{
  display: block;
}
.navigation ul.dropdown-user li .dw-user-box .u-text p{
  margin-bottom:0;
}
.custom-padding{
  padding: 8px 10px !important;
  text-align: center;
}
.navigation ul.dropdown-user li .dw-user-box .u-text .btn-rounded{
  border-radius:60px;
  color: #ffffff !important;
  padding: 3px 10px;
  display: inline-block;
  font-size:12px;
  margin-top:4px;
  background-color: #dc3545;
}
.dropdown-menu{
  padding:0;
  top:4px !important;
  position: absolute;
}
/* .scale-up {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: inline-block;
  -webkit-transform-origin: right 0px;
  -ms-transform-origin: right 0px;
  transform-origin: right 0px;
}
.scale-up.show {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: right 0px;
  -ms-transform-origin: right 0px;
  transform-origin: right 0px;
} */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.navigation ul.dropdown-user li a{
  padding: 9px 15px;
  display: block;
  color: #67757c;
}
.navigation ul.dropdown-user li a i{
  margin-right:5px;
  color:#67757c;
  font-size:16px;
}

.fa-plus:before {
  content: "\f106" !important;
  font-weight: bold;
  font-size: 18px;
}
.fa-minus:before {
  content: "\f107" !important;
  font-weight: bold;
  font-size: 18px;
}
.table thead th{
  border-bottom: 1px solid #f3f1f1;
  vertical-align:middle;
  font-weight:500;
}
.table td,
.table th{
  border-top: 1px solid #f3f1f1;
}
.copyright-section{
  background-color:#fff;
  padding:10px 0;
  margin-top: 30px;
}
.copyright-section p{
  margin-bottom:0;
}
label{
  font-size:14px;
}
.align-right{
  text-align:right !important;
}
.align-left {
  text-align: left !important;
}
.align-center{
  text-align:center !important;
}
.table td,
.table th{
  vertical-align:middle;
  font-size:14px;
  padding:5px;
}
.space{
  display:block;
  padding:5px;
}
.space.padding-10{
  padding:10px;
}
.btn {
  font-size: 12px;
  padding:2px 8px 2px;
  vertical-align: middle;
}
.left-side-button {
  display: inline-block;
  width: 82%;
}
.right-side-button{
  display: inline-block;
  width: 17%;
  float: right;
}
.mar-b-3{
  margin-bottom:10px;
}
.no-mar-b{
  margin-bottom:0;
}
.has-no-margin{
  margin:0;
}
p.small.has-no-margin{
  display: inline-block;
  vertical-align: bottom;
}
.target-description {
  display: inline-block;
}
.target-description span {
  cursor: pointer;
}
.show-description {
  background-color: #efefef;
}
.show-description td{
  padding:10px 20px;
}
.cursor{
  cursor: pointer;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #f3f1f1;
}
.form-control{
  border:1px solid #ddd;
}
.label {
    padding: 3px 4px;
    line-height: 13px;
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
    display:inline-block;
    text-align:center;
    width:100px;
}
.panel-title{
  /* font-weight:bold; */
  font-size:14px;
}
.panel-title span{
  font-size:12px;
}
.btn-success {
  color: #28a745;
  background-color: inherit;
  border-color: #28a745;
}
.align-center{
  text-align:center;
}
.align-left{
  text-align:left;
}
.align-right{
  text-align:right;
}
.modal-open{
  overflow: visible;
}
.modal-dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 90%;
  margin: 0 !important;
}
.modal-header{
  background-color:#0066e9;
  padding:10px;
}
.modal-content{
  border-top-left-radius:6px;
  border-top-right-radius:6px;
}
.modal-header h4{
  font-size:16px;
  color:#fff;
}
.gj-datepicker-bootstrap [role=right-icon] button {
  width: 38px;
  position: relative;
  border: 1px solid #ced4da;
  background-color: #fff !important;
}
.js-retainedLoanForm{
  background-color: #efefef;
  padding: 16px;
  margin: 10px 0 20px;
  border: 1px solid #ddd;
}
.js-retainedLoanForm .form-group input{
  padding: 7px 10px;
  border: none !important;
  border-radius: 4px;
}
/* custom-modal style start */
.custom-button,
.PaymentsModal,
.Create-Filler,
.otherChargesModal,
.renew-charges-modal,
.addNewChargeModal,
.create-grace {
  background-color: inherit !important;
  color: #0066e9 !important;
  border: none;
  border-bottom: 1px solid;
  padding: 0 !important;
  margin-right: 10px;
  margin-top: 4px;
  padding-bottom: 4px !important;
  border-radius: 0 !important;
  font-size: 14px !important;
}
.custom_modal .col-lg-11{
  padding:20px 30px;
}
.custom_modal{
  padding-top: 0;
  padding-bottom: 0;
  border: 4px solid #0066e9;
}
.custom_modal .col-lg-1{
  background-color: #0066e9;
  margin-left: -1px;
}
.hide{
  display: none;
}
.input_loan{
  /* float: right; */
  padding: 6px 15px 6px 10px;
  border: 1px solid #efefef;
  font-size: 12px;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.custom_modal h4{
  font-size: 20px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.custom_modal h4 button{
  display: inline-block;
  background-color: #0066e9;
  color: #fff;
  line-height: 15px;
  padding: 4px 10px 10px;
  border-radius: 3px;
  font-size: 19px;
  opacity:1 !important;
  /* position: relative;
  top:6px; */
}
.modal-content{
  border:none;
}
.custom_modal label{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
.custom_modal .form-control {
  border-bottom: 1px solid #ddd !important;
  border: 0;
  padding: 0px;
  line-height: normal;
  border-radius: 0;
  box-shadow: none;
}
.custom_modal .gj-datepicker-bootstrap [role=right-icon] button{
  border-bottom: 1px solid #ddd !important;
  border-left:0 !important;
  border: 0;
}
.custom_modal .gj-datepicker-bootstrap [role=right-icon] button i{
  top:0;
}
.custom_modal .custom-padding{
  padding: 4px 10px !important;
  margin-top:10px;
}
.custom_modal textarea.form-control {
  height: 21px;
}
.custom_modal select.form-control:not([size]):not([multiple]) {
  height:auto;
}
/* custom-modal style end */

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff;
  opacity: 1;
}
.btn-warning:hover{
  color:#fff;
}
.btn-danger:hover {
  color: #fff !important;
}
.modal-header .close {
  opacity:1;
  color:#000;
  padding: 2px 10px 5px;
  margin: 0;
  position: relative;
  top: 0px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 3px;
}
.modal-footer{
  display: none !important;
}
.border-right-n{
  border-right:none !important;
}
.border-n{
  border: none !important;
}
/* search form style start */
/* Customize the label (the container) */
.custom-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* scroll bar style start  */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #28a74552;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0066e98a;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0066e98a;
}
/* scroll bar styloe end  */
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 30px;
  width: 31px;
  background-color: #ddd;
  border-radius:2px;
}
textarea.form-control {
  height: 39px;
}
.btn.focus, .btn:focus {
    box-shadow: none !important;
}
.table-scroll{
  overflow-y: auto;
  height: 300px;
  overflow-x: hidden;
}
.table-scroll.retained-loan{
  height: 600px;
}
a.btn.btn-danger.js-close-loan.float-right {
  margin-left: 4px;
}
/* On mouse-over, add a grey background color */
.custom-radio:hover input~.checkmark {
  background-color: #ddd;
}

/* When the checkbox is checked, add a blue background */
.custom-radio input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.custom-radio input:checked~.checkmark:after {
  display: block;
}
.radio-text {
  font-size:14px;
  /* margin-left:10px; */
}
/* Style the checkmark/indicator */
.custom-radio .checkmark:after {
  left: 13px;
  top: 9px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* search form style end */
.alert.alert-danger{
  margin-bottom:0;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}

.loader {
  border-top: 10px solid #3498db;
  border-bottom: 10px solid blue;
  /*border: 16px solid #f3f3f3;*/
  border-radius: 50%;
  /*border-top: 16px solid #3498db;*/
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0.5px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #17a2b8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hidden{
  display: none;
}

.empty-option-border{
  border: 2px solid red !important;
}

.chk-box-zoom{
  zoom: 1.7;
}